services:
  leafletslm:
    build:
      context: .
      args:
        - USER=${USER}
        - UID=${UID}
        - GID=${GID}
    container_name: leafletslm
    volumes:
      - ./:/workspace
    # networks:
    #   - leafletslm_network
    ports:
      - "3333:3000"
    tty: true
    env_file:
      - .env

  selenium-hub:
    image: selenium/hub:4.15.0
    container_name: leafletslm-selenium
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4444/wd/hub/status"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s
    # networks:
    #   - leafletslm_network
    env_file:
      - .env

  selenium-firefox:
    image: selenium/node-firefox:4.15.0
    container_name: leafletslm-firefox
    shm_size: 4gb
    depends_on:
      selenium-hub:
        condition: service_healthy
    deploy:
      replicas: ${NODES:-1}
    # networks:
    #   - leafletslm_network
    ports:
      # This is only for debug. See more how disable when finish development
      # (For more than one node, don't redirect ports, expose 5900 and then give control to docker)
      # - "5900" # VNC
      - "7900" # Navegador
    env_file:
      - .env
# networks:
#   leafletslm_network:
#     driver: bridge
