services:
  leafletslm:
    build:
      context: .
      args:
        - USER=${USER}
        - UID=${UID}
        - GID=${GID}
    # container_name: leafletslm
    volumes:
      - ./:/workspace
    networks:
      - selenium
    # ports:
    #   - "3000:3000"
    tty: true
    env_file:
      - .env
    # command: dagster dev -h 0.0.0.0 -p 3000 -m leaflets.pipelines.definitions
    develop:
      watch:
        - path: ./pyproject.toml
          action: rebuild
        - path: ./uv.lock
          action: rebuild
        - path: ./Dockerfile
          action: rebuild
        - path: ./compose.yaml
          action: rebuild
        - path: .
          action: sync
          target: /workspace
          ignore:
            - .venv/
            - .git/
            - __pycache__/
            - "*.pyc"

  selenium-hub:
    image: selenium/hub:4.15.0
    container_name: leafletslm-selenium-hub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4444/wd/hub/status"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - selenium
    env_file:
      - .env

  selenium-firefox:
    image: selenium/node-firefox:4.15.0
    shm_size: 4gb
    depends_on:
      selenium-hub:
        condition: service_healthy
    deploy:
      replicas: ${NODES:-1}
    networks:
      - selenium
    ports:
      # This is only for debug. See more how disable when finish development
      # (For more than one node, don't redirect ports, expose 5900 and then give control to docker)
      # - "5900" # VNC
      - "7900" # Navegador
    env_file:
      - .env

networks:
  selenium:
    driver: bridge
