services:
  leafletslm:
    build:
      context: .
      args:
        - USER=${USER}
        - UID=${UID}
        - GID=${GID}
    container_name: lslm
    volumes:
      - ./:/workspace
    networks:
      - lslm_network
    ports:
      - "3000:3000"
    tty: true
    env_file:
      - .env
    # develop:
    #   watch:
    #     - path: ./pyproject.toml
    #       action: rebuild
    #     - path: ./uv.lock
    #       action: rebuild
    #     - path: ./Dockerfile
    #       action: rebuild
    #     - path: ./compose.yaml
    #       action: rebuild
    #     - path: .
    #       action: sync
    #       target: /workspace
    #       ignore:
    #         - .venv/
    #         - .git/
    #         - __pycache__/
    #         - "*.pyc"

  selenium-hub:
    image: selenium/hub:4.15.0
    container_name: lslm-selenium
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4444/wd/hub/status"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - lslm_network
    env_file:
      - .env

  selenium-firefox:
    image: selenium/node-firefox:4.15.0
    container_name: lslm-firefox
    shm_size: 4gb
    depends_on:
      selenium-hub:
        condition: service_healthy
    deploy:
      replicas: ${NODES:-1}
    networks:
      - lslm_network
    ports:
      # This is only for debug. See more how disable when finish development
      # (For more than one node, don't redirect ports, expose 5900 and then give control to docker)
      # - "5900" # VNC
      - "7900" # Navegador
    env_file:
      - .env

networks:
  lslm_network:
    driver: bridge
