services:
  drugslm:
    build:
      context: .
      args:
        - USER=${USER}
        - UID=${UID}
        - GID=${GID}
    image: vri/drugslm:unstable
    container_name: drugslm
    volumes:
      - ./:/workspace
    # networks:
    #   - drugslm
    ports:
      - "3000:3000"
    tty: true
    stdin_open: true
    env_file:
      - .env

# networks:
#   drugslm_net:
#     name: drugslm
