x-build-config: &build_config
  context: .
  target: dev
  args:
    - USER=${USER}
    - UID=${UID}
    - GID=${GID}

services:
  drugslm:
    build: *build_config
    image: drugslm:${VERSION}
    pull_policy: build
    container_name: drugslm_base
    volumes:
      - ./:/workspace
      - venv:/workspace/.venv
    networks:
      - drugslm_net
    command: make sleep
    tty: true
    stdin_open: true
    env_file:
      - .env

  mkdocs:
    build: *build_config
    image: drugslm:${VERSION}
    pull_policy: build
    container_name: drugslm_docs
    # depends_on:
    #   - drugslm
    volumes:
      - ./:/workspace
      - venv:/workspace/.venv
    networks:
      - drugslm_net
    ports:
      - "8000:8000"
    command: make docs up
    tty: true
    stdin_open: true
    # environment:
    #   - PYTHONUNBUFFERED=1
    env_file:
      - .env

  dagster:
    build: *build_config
    image: drugslm:${VERSION}
    pull_policy: build
    container_name: drugslm_dagster
    # depends_on:
    #   - drugslm
    volumes:
      - ./:/workspace
      - venv:/workspace/.venv
    networks:
      - drugslm_net
    ports:
      - "3000:3000"
    command: make dagster up
    tty: true
    stdin_open: true
    environment:
      - DAGSTER_HOME=/workspace
    env_file:
      - .env

networks:
  drugslm_net:
    name: drugslm_net

volumes:
  venv:
