site_name: DrugsLM Documentation
site_author: Vinícius de Lima Gonçalves

theme:
  name: material
  features:
    - navigation.sections
    - content.code.copy
    - navigation.indexes
    - navigation.top

plugins:
  - search
  - include-markdown
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [.]
          options:
            show_source: true
            show_root_heading: true

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Infrastructure: infrastructure.md
  - Architecture: architecture.md
  - API Reference:
      - reference/index.md
      - Scraper:
          - reference/scraper/index.md
          - Selenium: reference/scraper/selenium.md
          - Anvisa:
              - reference/scraper/anvisa/index.md
              - Pipelines: reference/scraper/anvisa/pipelines.md
              - Catalog Builder: reference/scraper/anvisa/catalog.md
              - Configuration: reference/scraper/anvisa/config.md
          - Wikipedia: []
          - Drugscom: []
      - Database: []
      - Modeling: []
